/* src/components/ProductSearch.css */
.product-search-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #001420;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001420;
    height: 100vh;
    overflow: auto;
}

.product-search-container h1 {
    margin-bottom: 20px;
    color: #3ed6bc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 27px;
}

.product-search-container input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.product-search-container button {
    padding: 10px;
    border: none;
    background-color: #ecf2f5;
    color: #001420;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.product-search-container button:hover {
    background-color: #ffe000;
    color: #001420;
}


.back-button {
    background-color: #3ed6bc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    display: inline-block;
}

.back-button:hover {
    background-color: #2da69d;
}

.product-search-container .result {
    margin-top: 20px;
    color: #3ed6bc;
}

.product-search-container .result p {
    margin: 5px 0;
    font-size: 16px;
    color: #ecf2f5;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50vh;
}

.container {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.result img {
    max-width: 50vw;
    height: 35vh;
    margin: 20px 0;
    border-radius: 2px;
}


.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #ccc;
}

.chart-container {
    position: relative;
    height: 15rem;
    width: 23rem;
}



/* ProductDetails.css */

.product-details {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 60vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.product-details>* {
    flex: 1;
    text-align: center;
    color: #3ed6bc;
}

.product-details>*:not(:last-child) {
    border-right: 1px solid #3ed6bc;
}

.product-details h2 {
    margin: 0 0 10px 0;
}

.product-details p {
    margin: 10px 0;
}

.product-details strong {
    font-weight: bold;
}